line {
  marker-end: url(#end-arrow);
  stroke: black;
  stroke-width: 5px;
  fill: none;
}

text {
  font-family: sans-serif;
  font-size: 20px;
  text-anchor: middle;
}

.nodes text {
  fill: white;
}

.index text {
  fill: black;
}

.label text {
  fill: red;
}

rect {
  height: 25px;
  width: 25px;
}
