<!DOCTYPE html>
<html lang="en" ng-app="MyApp">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, shrink-to-fit=no, initial-scale=1">
        <title>Visualising Data Structures</title>

        <!-- Bootstrap Core CSS -->
        <link href="css/bootstrap.min.css" rel="stylesheet">
        <!-- Side Bar CSS -->
        <link href="css/simple-sidebar.css" rel="stylesheet">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="css/app.css">

        <!-- External Libraries -->
        <!-- <script type="text/javascript" src="http://d3js.org/d3.v3.min.js"></script> -->
        <!-- <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script> -->
        <!-- <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular-route.js"></script> -->
    </head>
    <body>
        <div id="wrapper">

            <div ng-controller="NavCtrl">
            <!-- Sidebar -->
            <div id="sidebar-wrapper">
                <ul class="sidebar-nav">
                    <li class="sidebar-brand">Data Structures</li>
                    <li ng-repeat="item in menu" ng-class="{active: item.route == menuActive }">
                      <a href="#{{item.route}}" ng-click="updatePage(item.label)">{{item.label}}</a>
                    </li>
                </ul>
            </div>
            <!-- /#sidebar-wrapper -->

            <header>
              <div href="#menu-toggle" id="menu-toggle">
                <span id="menu-toggle-image" class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
              </div>
              <h1>{{currentPage}}</h1>
            </header>
          </div>
            <!-- Page Content -->
            <div id="page-content-wrapper">
                <div ng-view></div>
            </div>
            <!-- /#page-content-wrapper -->

        </div>
        <!-- /#wrapper -->

      <!-- External Libraries -->
      <script type="text/javascript" src="libs/d3/d3.v3.min.js"></script>
      <script type="text/javascript" src="libs/angular/angular.min.js"></script>
      <script type="text/javascript" src="libs/angular/angular-route.min.js"></script>
      <script type="text/javascript" src="libs/jquery/jquery.js"></script>
      <script type="text/javascript" src="libs/bootstrap/bootstrap.min.js"></script>

      <script type="text/javascript" src="app.js"></script>
      <script type="text/javascript" src="controllers/linked-list-refactor.js"></script>
      <script type="text/javascript" src="controllers/linked-list.js"></script>
      <script type="text/javascript" src="controllers/nav.js"></script>
      <script type="text/javascript" src="directives/visualization.js"></script>
      <script type="text/javascript" src="services/utils.js"></script>

      <!-- Menu Toggle Script -->
      <script>
      $("#menu-toggle").click(function(e) {
          e.preventDefault();
          $("#wrapper").toggleClass("toggled");
          $("span.glyphicon", this).toggleClass("glyphicon-menu-left glyphicon-menu-right");
      });
      </script>
    </body>
</html>
