<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
    </head>
    <body class="wrapper">
      <visualization></visualization>
      <div class="container-fluid row col-lg-12">
        <div class="row">
          <div class="col-lg-12">
            <button class="btn btn-warning" ng-click="stepBack()" ng-disabled="currentStep <= 0">Step Back</button>
            <!-- <button class="btn btn-warning" ng-click="stepBack()" ng-disabled="animationRunning || currentStep <= 0">Step Back</button> -->
            <button class="btn btn-warning" ng-click="pause()" ng-disabled="!animationRunning">Pause</button>
            <button class="btn btn-warning" ng-click="play()" ng-disabled="animationRunning || currentStep == -1">Play {{currentStep}}</button>

            <div class="panel panel-default" style="max-width:800px;">
              <div class="panel-heading">Operations</div>
              <div class="panel-body">
                <form class="form-inline" style="margin-bottom: 10px;">
                  <div class="form-group">
                    <label style="width: 50px">Size:</label>
                    <input class="form-control" type="number" step="1" min="0" max="{{nodeLimit}}" ng-model="size" style="width: 100px" ng-disabled="animationRunning">
                  </div>
                  <button class="btn btn-info" style="float: right" ng-click="createList()" ng-disabled="animationRunning">Create List</button>
                </form>

                <form class="form-inline" style="margin-bottom: 10px;">
                  <div class="form-group">
                    <label style="width: 50px">Index:</label>
                    <input class="form-control" type="number" step="1" min="0" max="{{values.length}}" ng-model="add.index" style="width: 100px" ng-disabled="animationRunning || (values.length == nodeLimit)">
                  </div>
                  <span style="display:inline-block; width: 30px;"></span>
                  <div class="form-group">
                    <label style="width: 50px">Value:</label>
                    <input class="form-control" type="number" step="1" min="0" max="{{maxValue}}" ng-model="add.value" style="width: 100px" ng-disabled="animationRunning || (values.length == nodeLimit)">
                  </div>
                  <button class="btn btn-success" style="float: right" ng-click="addNode()" ng-disabled="animationRunning || (values.length == nodeLimit)">Add Node</button>
                </form>

                <form class="form-inline" style="margin-bottom: 10px;">
                  <div class="form-group">
                    <label style="width: 50px">Index:</label>
                    <input class="form-control" type="number" step="1" min="0" max="{{values.length-1}}" ng-model="remove.index" style="width: 100px" ng-disabled="animationRunning || (values.length == 0)">
                  </div>
                  <button class="btn btn-danger" style="float: right" ng-click="removeNode()" ng-disabled="animationRunning || (values.length == 0)">Remove Node</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
  </body>
</html>
