<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
    </head>
    <body class="wrapper">

      <linked-list></linked-list>
      <div class="container-fluid row col-lg-12">
        <div class="row">
          <div class="col-lg-12">
            <div>{{errorMessage}}</div>
            <div>
              Index: <input type="number" step="1" min="0" max="{{values.length}}" ng-model="add.index" style="width: 50px">
              Value: <input type="number" step="1" min="0" max="{{maxValue}}" ng-model="add.value" style="width: 50px">
              <button ng-click="addNode()" ng-disabled="animationDisabled || (values.length == nodeLimit)">Add Node</button>
            </div>
            <div>
              Index: <input type="number" step="1" min="0" max="{{values.length-1}}" ng-model="remove.index" style="width: 50px">
              <button ng-click="removeNode()" ng-disabled="animationDisabled || (values.length == 0)">Remove Node</button>
            </div>
            <div>
              <button ng-click="loadElements(0)">1</button>
              <button ng-click="loadElements(1)">2</button>
              <button ng-click="loadElements(2)">3</button>
              <button ng-click="loadElements(3)">4</button>
            </div>
          </div>
        </div>
      </div>
  </body>
</html>
